/vendor/
/mouf/
/composer.lock
/src/Tests/
/build/
/phpunit.xml
/.php_cs/cache

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

/tests/dependencies/copy/
/tests/dependencies/graphqlite-bundle/
/tests/dependencies/graphqlite-laravel/
/tests/dependencies/graphqlite-universal-service-provider/

.phpunit.result.cache