/build/
/vendor/
/composer.lock
/src/Tests/
/phpunit.xml
/.php_cs/cache
/.idea

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/package-lock.json
website/node_modules
website/i18n/*
website/.docusaurus
website/.cache-loader

.phpunit.result.cache
.phpstan-cache
