parameters:
    ignoreErrors:
        - "#PHPDoc tag \\@throws with type Psr\\\\Container\\\\ContainerExceptionInterface is not subtype of Throwable#"
        - "#Property TheCodingMachine\\\\GraphQLite\\\\Types\\\\ResolvableInputObjectType::$resolve \\(array<int, object|string>&callable\\) does not accept array<int,object|string>#"
        - "#Variable \\$prefetchRefMethod might not be defined.#"
        - "#Parameter \\#2 $type of class TheCodingMachine\\\\GraphQLite\\\\Parameters\\\\InputTypeParameter constructor expects GraphQL\\\\Type\\\\Definition\\\\InputType&GraphQL\\\\Type\\\\Definition\\\\Type, GraphQL\\\\Type\\\\Definition\\\\InputType|GraphQL\\\\Type\\\\Definition\\\\Type given.#"
        - "#Parameter .* of class ReflectionMethod constructor expects string, object|string given.#"
        - "#Method TheCodingMachine\\\\GraphQLite\\\\Types\\\\MutableObjectType::getFields() should return array<GraphQL\\\\Type\\\\Definition\\\\FieldDefinition> but returns array|float|int.#"
        - "#Parameter \\#2 \\$inputTypeNode of static method GraphQL\\\\Utils\\\\AST::typeFromAST() expects GraphQL\\\\Language\\\\AST\\\\ListTypeNode|GraphQL\\\\Language\\\\AST\\\\NamedTypeNode|GraphQL\\\\Language\\\\AST\\\\NonNullTypeNode, GraphQL\\\\Language\\\\AST\\\\ListTypeNode|GraphQL\\\\Language\\\\AST\\\\NameNode|GraphQL\\\\Language\\\\AST\\\\NonNullTypeNode given.#"
        - "#PHPDoc tag @throws with type Psr\\\\SimpleCache\\\\InvalidArgumentException is not subtype of Throwable#"
        - '#Variable \$context might not be defined.#'
        -
           message: '#Parameter .* of class GraphQL\\Error\\Error constructor expects#'
           path: src/Exceptions/WebonyxErrorHandler.php
        -
           message: '#Thrown exceptions in a catch block must bundle the previous exception#'
           path: src/Mappers/Root/IteratorTypeMapper.php
        -
           message: '#Parameter \#2 \$subType of method .* expects#'
           path: src/Mappers/Root/IteratorTypeMapper.php
        -
           message: '#Unreachable statement - code above always terminates.#'
           path: src/Http/WebonyxGraphqlMiddleware.php
        -
           message: '#Property TheCodingMachine\GraphQLite\Annotations\Type::$class \(class-string<object>|null\) does not accept string.#'
           path: src/Annotations/Type.php
        - '#Call to an undefined method GraphQL\\Error\\ClientAware::getMessage()#'
        #-
        #  message: '#If condition is always true#'
        #  path: src/Middlewares/SecurityFieldMiddleware.php
#includes:
#    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
