<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/Bootstrap.php"
>
    <testsuites>
        <testsuite name="GraphQLite Test Suite">
            <directory>./tests/</directory>
            <exclude>./tests/dependencies/</exclude>
            <exclude>./tests/Bootstrap.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
  		<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">src/</directory>
        </whitelist>
	</filter>
    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
